*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 80vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    background-color: white;
}

a{
    text-decoration: none;
}

header{
    margin-bottom: 2.8rem;
}

.header_title{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
}

.header_desc{
    max-width: 568px;
    text-align: center;
    color: rgb(118, 118, 118);
    margin: 0 auto;
}

main{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px,300px));
    /* margin: auto; */
    justify-content: center;
}

/* @media (min-width:740px){
    main{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:1117px){
    main{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width:1448px){
    main{
        grid-template-columns: repeat(4,1fr);
    }
} */

.card_container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardimg{
    position: relative;
    overflow: hidden;
    height: 11rem;
}

.card_image{
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card_container:hover .card_image{
    transform: scale(1.1);
    transition: 200ms;
}


.card_title{
    font-size: 1rem;
    font-weight: 800;
    color: rgb(45, 44, 44);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}


.card_title_anchor:hover .card_title{
    color: rgb(104, 104, 255);
}

.card_desc{
    font-size: 0.85rem;
    color: rgb(118, 118, 118);
}

.card_footer_container{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
}

.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.avatar_container{
    height: 2.5rem;
    width: 2.5rem;
    background-color: gainsboro;
    border-radius: 100%;
    border: 1px solid beige;
}

.avatar_container img{
    border-radius: 50%;
}

.author_info{
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.author_name{
    color: rgb(137, 137, 255);
}

.date{
    color: grey;
}

.card_tag_container{
    color: grey;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
}